* {
  padding: 0%;
  margin: 0;
  transition: 500ms;
  font-family: inherit;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  transition: 5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

p,
span,
li,
a {
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

.ps-5 {
  padding-right: 20px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

nav {
  position: fixed;
  top: 20%;
  left: 40px;
  z-index: 2;
}
@media (max-width: 576px) {
  nav {
    left: 10px;
  }
}
nav ul {
  list-style: none;
}
nav ul li {
  margin: 18px 0px;
  padding: 12px 8px;
  background-color: white;
  border-radius: 30px;
  width: 18%;
}
nav ul li a {
  color: black;
  font-weight: 900;
  text-decoration: none;
  display: flex;
  align-items: center;
}
nav ul li a span {
  color: black;
  white-space: nowrap;
  opacity: 0;
}
nav ul li a img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
nav ul li:hover span {
  opacity: 1;
}
nav ul li:hover {
  width: 100%;
}

main section {
  background-color: #070812;
  width: 100%;
  height: 100vh;
}
@media (max-width: 576px) {
  main section {
    height: 100%;
    padding: 20px 0px;
  }
}
main section .main {
  background-image: url("/images/index.png");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: inherit;
}
main section .sec1-cont {
  position: absolute;
  left: 10%;
  right: 0;
  top: 40%;
  bottom: 0;
  margin: auto;
}
@media (max-width: 1200px) {
  main section .sec1-cont {
    left: 4%;
  }
}
@media (max-width: 992px) {
  main section .sec1-cont {
    left: 0%;
    top: 50%;
  }
}
@media (max-width: 576px) {
  main section .sec1-cont {
    left: 0%;
    top: 60%;
  }
}
main section .sec1-cont h3 {
  color: white;
  font-size: 40px;
  letter-spacing: 5px;
}
@media (max-width: 576px) {
  main section .sec1-cont h3 {
    font-size: 25px;
  }
}
main section .sec1-cont h1 {
  color: white;
  font-size: 60px;
  letter-spacing: 5px;
}
@media (max-width: 576px) {
  main section .sec1-cont h1 {
    font-size: 40px;
  }
}
main section .sec1-cont p {
  font-size: 28px;
  padding-top: 30px;
  text-decoration: underline;
}
main .aboutme {
  transition: 1s ease-in-out;
  display: flex;
  align-items: center;
}
main .aboutme div {
  padding-left: 100px;
}
@media (max-width: 576px) {
  main .aboutme div {
    padding-left: 30px;
  }
}
main .aboutme div ul {
  list-style: none;
}
main .aboutme div ul li {
  text-decoration: none;
}
main .aboutme div ul li a {
  text-decoration: none;
}
main .aboutme div p {
  font-size: 24px;
  padding: 70px 50px;
}
main .work {
  display: flex;
  align-items: center;
}
main div {
  padding-left: 200px;
}
@media (max-width: 576px) {
  main div {
    padding-left: 100px;
  }
}
main div h3 {
  font-size: 50px;
  letter-spacing: 5px;
}
main div span {
  padding-top: 10px;
  font-size: 24px;
  text-decoration: underline;
}
main div p {
  padding-top: 20px;
}
main div ul {
  padding-top: 30px;
  padding-left: 20px;
}
main div li {
  padding: 5px 20px;
  font-size: 18px;
}
main .education {
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  main .education {
    padding: 20px 0px;
  }
}
main .education div {
  padding-left: 100px;
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  main .education div {
    padding-left: 50px;
  }
}
main .education div h3 {
  font-size: 24px;
}
main .education div p {
  font-size: 20px;
}
main .education div ul {
  padding-top: 0;
}
main .skill {
  display: flex;
  align-items: center;
}
main .skill div ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .skill div ul li .ps-5 {
  padding-right: 50px;
}
@media (max-width: 400px) {
  main .skill div ul li .ps-5 {
    padding-right: 0px;
  }
}
main .skill div ul li span {
  text-decoration: none;
}
main .skill div ul li .bx {
  padding: 0px 3px;
}
main .project {
  display: flex;
  align-items: center;
  height: 100%;
}
main .project div {
  padding-left: 100px;
}
@media (max-width: 576px) {
  main .project div {
    padding-left: 50px;
  }
}
main .project div h3 {
  font-size: 30px;
}
main .project div p {
  font-size: 20px;
}
main .project div span {
  font-size: 14px;
}
main .project hr {
  background-color: white;
  height: 2px;
  margin: 16px 0px;
}
main .other {
  display: flex;
  align-items: center;
}
main .other hr {
  margin: 32px 0px;
}
main .other h3 {
  font-size: 24px;
}

.heading {
  font-size: 40px;
  font-family: "Chela";
  margin-left: 50px;
  border-bottom: 2px solid white;
  width: -moz-fit-content;
  width: fit-content;
}

.d-flex-md {
  display: flex;
}

@media (max-width: 768px) {
  .d-flex-md {
    display: flex;
  }
}
@media (max-width: 576px) {
  section {
    height: 100%;
  }
}/*# sourceMappingURL=style.css.map */